:host {
	display: flex;
	flex-direction: column; 
	align-items: stretch;
	height: 100vh;
	width: 100vw;
}

top-panel {
	height: 50px;
}

content {
	flex: auto;
	display: flex;
	align-items: stretch;
}

.divider {
	height: 2px;
	width: 100wv;
	background-color: #333;
}