:host {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.panel {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 100vw;
}

.content {
  flex: auto;
  display: flex;
  width: 100vw;
}

button {
  margin: 7px 5px;
}