:host {
  display: flex;
  align-items: stretch;
  width: 100vw;
}

.leftbar {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.rightbar {
  flex: 3;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.author {
  flex-basis: 20px;
  content-align: center;
  padding: 10px;
  background-color: #ccc;
  margin: 5px;
  border-radius: 5px;
}

a {
  color: white;
  text-decoration: none;
}

a.active {
  color: red;
}